## Import librairies

In [121]:
import pandas as pd
import datetime

## Extract excel data in a pandas dataframe

In [287]:
db = pd.read_excel('datasource/database.xlsx', skiprows=2)

## Define the cleaning and transformation functions

### clean
Takes the db dataframe as argument and returns it after cleaning:
* Replace NaN values with empty string for object columns and 0 for float columns.
* Harmonise the gender column values
* Trim country column (remove leading and trailing spaces)
* Drop unused columns

In [194]:
def clean(db):

    db = db.apply(lambda col: col.fillna("") if col.dtype=="object" else col.fillna(0))
    db.gender.replace({"WOMEN'S": "WOMEN", "MEN'S": "MEN"}, inplace=True)
    db.country = db.country.str.strip()
    db.drop("product", axis=1, inplace=True)
    
    return (db)

### aggregate_by_segment
Takes the db dataframe and returns it after aggregating data at the segment level

In [195]:
def groupby_segment(db):
    
    groups = ['brand', 'country', 'gender', 'product_line', 'segment']
    db = db.groupby(groups, as_index=False).sum()
    
    return (db)

### complete_product_line
Takes the db dataframe and rturns it after completing the 'product_line' column:
* Replace the 'product_line column by the concatenation of 'gender' and 'product_line' columns
* Trim the new 'product_line' column (to get rid of trailing spaces from empty 'gender' after concatenation)
* Drops the 'gender' column

In [196]:
def complete_product_line(db):
    
    db.product_line = db.gender + " " + db.product_line
    db.product_line = db.product_line.str.strip()
    db.drop('gender', axis=1, inplace=True)
    
    return (db)

### create_market_rows
Takes the db dataframe as argument and returns it with new rows for market data (sum of all brands)

In [197]:
def create_market_rows(db):
    
    groups = ['country', 'product_line', 'segment']
    tmp = db.groupby(groups, as_index=False).sum()
    tmp['brand'] = 'MARKET'
    db = db.append(tmp).reset_index(drop=True)
    
    return (db)

### reshape
Takes the db dataframe as argument and returns it after unpivoting date columns

In [198]:
def reshape(db):
    
    fixed_cols = db.select_dtypes(include=["object"]).columns
    db = db.melt(id_vars=fixed_cols, var_name='date')
    
    return (db)

### manage_dates
Takes the db dataframe as argument and returns it after creating date infromation fields:
* Splits the 'date' column into 'month' and 'year' columns
* Creates "month_no" column based on 'month'column (in short text format)

In [199]:
def manage_dates(db):
    
    db[['month', 'year']] = db.date.str.split(" ", expand=True)
    months = {datetime.datetime(2000, i, 1).strftime("%b"): i for i in range(1, 13)}
    db['month_no'] = db.month.map(months)
    
    return (db)

### compute_ytd
Takes the db dataframe as argument and returns it with a new 'ytd' column corresponding to the cumulated sum of 'value' across months for a given year:
* Sort (ascending order) the dataframe by, in order, 'brand', 'country', 'product_line', 'segment', 'year' and 'month_no'
* Compute the 'ytd' column thanks to the dedicated pandas 'cumsum()' function, combined to a 'groupby' on the relevant dimensions

In [215]:
def compute_ytd(db):
    
    groups = ['brand', 'country', 'product_line', 'segment', 'year']
    sort_cols = groups + ['month_no']
    db = db.sort_values(sort_cols).reset_index(drop=True)
    db['ytd'] = db.groupby(groups)['value'].cumsum()
    
    return (db)

### compute_var_ytd
Takes the db dataframe as argument and returns it with a new 'var_ytd' column corresponding to the variation in % of the 'ytd' columns vs. the month of the previous year:
* Sort (ascending order) the dataframe by, in order, 'brand', 'country', 'product_line', 'segment', 'month_no' and 'year'
* Compute the 'var_ytd' column thanks to the dedicated pandas 'pct_change()' function, combined to a 'groupby' on the relevant dimensions

In [224]:
def compute_var_ytd(db):
    
    groups = ['brand', 'country', 'product_line', 'segment', 'month_no']
    sort_cols = groups + ['year']
    db = db.sort_values(sort_cols).reset_index(drop=True)
    db['var_ytd'] = db.groupby(groups)['ytd'].pct_change()
    
    return (db)

### compute_market_share_ytd
Takes the db dataframe as argument and returns it with a new 'market_share_ytd' column corresponding to the % of the 'ytd' row value relative to the total of 'ytd' values for comparable dimensions:
* Create a 'total' dataframe that corresponds to the db dataframe filtered on 'MARKET' brand (i.e. the total of all brands)
* Make a left join of the db and 'total' dataframe on relevant dimensions
* Divide the db 'ytd' column by the'ytd_total' column to get the market share

In [ ]:
def compute_market_share_ytd(db):
    
    cols_for_join = ['country', 'product_line', 'segment', 'date']
    total = db.loc[db.brand == 'MARKET', cols_for_join + ['ytd']]
    db = db.merge(total, how='left', on=cols_for_join, suffixes=('', '_total'))
    db['market_share_ytd'] = db.ytd / db.ytd_total
    db.drop('ytd_total', axis=1, inplace=True)
    
    return (db)

## Apply cleaning and transformation functions to the dataframe

In [288]:
db = (db
      .pipe(clean)
      .pipe(groupby_segment)
      .pipe(complete_product_line)
      .pipe(create_market_rows)
      .pipe(reshape)
      .pipe(manage_dates)
      .pipe(compute_ytd)
      .pipe(compute_var_ytd)
      .pipe(compute_market_share_ytd)
     )

## TADA !!!

In [289]:
db

,brand,country,product_line,segment,date,value,month,year,month_no,ytd,var_ytd,market_share_ytd
0,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jan 2016,7262.801870,Jan,2016,1,7.262802e+03,NaN,0.841317
1,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jan 2017,8580.961640,Jan,2017,1,8.580962e+03,0.181495,0.527822
2,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Feb 2016,6116.043680,Feb,2016,2,1.337885e+04,NaN,0.841317
3,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Feb 2017,7226.072960,Feb,2017,2,1.580703e+04,0.181495,0.527822
4,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Mar 2016,5733.790950,Mar,2016,3,1.911264e+04,NaN,0.841317
5,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Mar 2017,6774.443400,Mar,2017,3,2.258148e+04,0.181495,0.527822
6,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Apr 2016,5733.790950,Apr,2016,4,2.484643e+04,NaN,0.841317
7,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Apr 2017,6774.443400,Apr,2017,4,2.935592e+04,0.181495,0.527822
8,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,May 2016,6498.296410,May,2016,5,3.134472e+04,NaN,0.841317
9,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,May 2017,7677.702520,May,2017,5,3.703362e+04,0.181495,0.527822
10,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jun 2016,6880.549140,Jun,2016,6,3.822527e+04,NaN,0.841317
11,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jun 2017,8129.332080,Jun,2017,6,4.516296e+04,0.181495,0.527822
12,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jul 2016,7168.939100,Jul,2016,7,4.539421e+04,NaN,0.845110
13,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Jul 2017,9805.258640,Jul,2017,7,5.496821e+04,0.210908,0.541444
14,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Aug 2016,7801.492550,Aug,2016,8,5.319570e+04,NaN,0.848099
15,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Aug 2017,10670.428520,Aug,2017,8,6.563864e+04,0.233909,0.552114
16,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Sep 2016,6114.683350,Sep,2016,9,5.931039e+04,NaN,0.849903
17,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Sep 2017,8363.308840,Sep,2017,9,7.400195e+04,0.247706,0.558522
18,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Oct 2016,7084.598640,Oct,2016,10,6.639499e+04,NaN,0.791567
19,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Nov 2016,6578.555880,Nov,2016,11,7.297354e+04,NaN,0.752581
20,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,BATH & BODY,Dec 2016,11638.983480,Dec,2016,12,8.461253e+04,NaN,0.704417
21,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Jan 2016,1654.161280,Jan,2016,1,1.654161e+03,NaN,0.028855
22,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Jan 2017,3566.785260,Jan,2017,1,3.566785e+03,1.156250,0.146652
23,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Feb 2016,1392.977920,Feb,2016,2,3.047139e+03,NaN,0.028855
24,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Feb 2017,3003.608640,Feb,2017,2,6.570394e+03,1.156250,0.146652
25,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Mar 2016,1305.916800,Mar,2016,3,4.353056e+03,NaN,0.028855
26,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Mar 2017,2815.883100,Mar,2017,3,9.386277e+03,1.156250,0.146652
27,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Apr 2016,1305.916800,Apr,2016,4,5.658973e+03,NaN,0.028855
28,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,Apr 2017,2815.883100,Apr,2017,4,1.220216e+04,1.156250,0.146652
29,ANOTHER DAY IN PARADISE,CHINA,WOMEN PERFUME,GIFT SETS,May 2016,1480.039040,May,2016,5,7.139012e+03,NaN,0.028855
...,...,...,...,...,...,...,...,...,...,...,...,...
19395,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Jul 2016,289371.485512,Jul,2016,7,2.422714e+06,NaN,0.010588
19396,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Jul 2017,137643.530637,Jul,2017,7,1.626459e+06,-0.328662,0.006828
19397,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Aug 2016,314904.263646,Aug,2016,8,2.737618e+06,NaN,0.010275
19398,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Aug 2017,149788.548046,Aug,2017,8,1.776248e+06,-0.351170,0.006393
19399,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Sep 2016,246816.855290,Sep,2016,9,2.984435e+06,NaN,0.010085
19400,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Sep 2017,117401.834955,Sep,2017,9,1.893650e+06,-0.365491,0.006131
19401,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Oct 2016,291959.733590,Oct,2016,10,3.276395e+06,NaN,0.010078
19402,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Nov 2016,271105.466905,Nov,2016,11,3.547500e+06,NaN,0.010072
19403,SILVER SKIN,USA,WOMEN SKINCARE,SKINCARE TOTAL FACE,Dec 2016,479648.133755,Dec,2016,12,4.027148e+06,NaN,0.010064
19404,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jan 2016,0.000000,Jan,2016,1,0.000000e+00,NaN,0.000000
19405,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jan 2017,469.065597,Jan,2017,1,4.690656e+02,inf,0.000327
19406,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Feb 2016,0.000000,Feb,2016,2,0.000000e+00,NaN,0.000000
19407,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Feb 2017,395.002608,Feb,2017,2,8.640682e+02,inf,0.000327
19408,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Mar 2016,0.000000,Mar,2016,3,0.000000e+00,NaN,0.000000
19409,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Mar 2017,370.314945,Mar,2017,3,1.234383e+03,inf,0.000327
19410,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Apr 2016,0.000000,Apr,2016,4,0.000000e+00,NaN,0.000000
19411,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Apr 2017,370.314945,Apr,2017,4,1.604698e+03,inf,0.000327
19412,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,May 2016,0.000000,May,2016,5,0.000000e+00,NaN,0.000000
19413,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,May 2017,419.690271,May,2017,5,2.024388e+03,inf,0.000327
19414,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jun 2016,0.000000,Jun,2016,6,0.000000e+00,NaN,0.000000
19415,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jun 2017,444.377934,Jun,2017,6,2.468766e+03,inf,0.000327
19416,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jul 2016,0.000000,Jul,2016,7,0.000000e+00,NaN,0.000000
19417,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Jul 2017,219.837761,Jul,2017,7,2.688604e+03,inf,0.000283
19418,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Aug 2016,0.000000,Aug,2016,8,0.000000e+00,NaN,0.000000
19419,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Aug 2017,239.235210,Aug,2017,8,2.927839e+03,inf,0.000252
19420,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Sep 2016,0.000000,Sep,2016,9,0.000000e+00,NaN,0.000000
19421,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Sep 2017,187.508678,Sep,2017,9,3.115348e+03,inf,0.000235
19422,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Oct 2016,0.000000,Oct,2016,10,0.000000e+00,NaN,0.000000
19423,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Nov 2016,0.000000,Nov,2016,11,0.000000e+00,NaN,0.000000
19424,SILVER SKIN,USA,WOMEN SKINCARE,US ALL OTHER SETS,Dec 2016,0.000000,Dec,2016,12,0.000000e+00,NaN,0.000000